header {
  position: relative;
  text-align: center;
  margin-top: 30px;
}
header img {
  width: 350px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header img {
    width: 430px;
  }
}
@font-face {
  font-family: "rob";
  src: url("/police/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "shrik";
  src: url("/police/Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "rob";
}

.global_width {
  width: 768px;
  margin: auto;
  opacity: 0;
  animation: apparition 0.1s ease-in 3.3s forwards;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: black;
}

.gras {
  font-weight: bold;
}

.localisation {
  margin-top: 25px;
}
.localisation__ville {
  display: flex;
  justify-content: center;
  background: linear-gradient(#a7a7a7, 2%, #eaeaea);
  font-size: 35px;
}
.localisation__ville__icone {
  margin-top: 35px;
  margin-right: 35px;
}
.localisation__bloc {
  font-size: 30px;
  height: 480px;
  background-color: #f6f6f7;
  text-align: center;
}
.localisation__bloc__int {
  width: 600px;
  height: 400px;
  margin: auto;
  padding-top: 20px;
}

.btn-principaux {
  margin: 0 auto;
  height: 90px;
  width: 400px;
  border-radius: 60px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: #dbdbdf 0px 5px 8px 5px;
}
.btn-principaux:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: #c0c0c7 0px 5px 8px 5px;
}
.btn-principaux a {
  display: block;
  color: white;
  padding-top: 25px;
}

.fonctionnement {
  font-size: 30px;
  margin-top: 80px;
}
.fonctionnement h2 {
  margin: 0 50px;
}
.fonctionnement__etape {
  display: flex;
  align-items: center;
  background: #f6f6f7;
  height: 150px;
  width: 650px;
  margin: 50px auto;
  border-radius: 45px;
  box-shadow: #dbdbdf 0px 5px 8px 5px;
}
.fonctionnement__etape--color {
  background: #f4eefc;
}
.fonctionnement__etape__num {
  background: #9356dc;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: -25px;
}
.fonctionnement__etape__num p {
  margin: 6px 16px;
  color: white;
}
.fonctionnement__etape__icone {
  color: grey;
  font-size: 40px;
  margin-left: 50px;
}
.fonctionnement__etape__icone--size {
  font-size: 50px;
}
.fonctionnement__etape__icone--color {
  color: #9356dc;
}
.fonctionnement__etape__texte {
  margin: 0 50px;
}

.restaurant {
  font-size: 30px;
  margin-top: 80px;
  background: #f6f6f7;
  height: 2450px;
}
.restaurant h2 {
  margin: 0 50px;
  padding-top: 80px;
}
.restaurant__bloc {
  position: relative;
  width: 650px;
  height: 2150px;
  padding-top: 50px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant__bloc__img {
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant__bloc figure {
  margin: 0px auto;
  box-shadow: #dbdbdf 0px 5px 8px 5px;
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 30px;
}
.restaurant__bloc figure img {
  width: 100%;
  margin-top: -80px;
}
.restaurant__bloc figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__bloc figure figcaption i {
  font-size: 50px;
  margin-right: 50px;
}
.restaurant__bloc figure figcaption p {
  margin-left: 30px;
}

.heart1 {
  z-index: 1;
  position: relative;
}
.heart1:hover .heart2 {
  height: 100%;
}

.heart2 {
  position: absolute;
  background: linear-gradient(to bottom left, #9356dc 20%, #ff79da 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  z-index: -1;
  top: 0;
  right: 0;
  height: 0;
  transition: all 500ms ease-in-out;
}

.nouveau {
  position: absolute;
}
.nouveau p {
  width: 150px;
  height: 50px;
  margin-left: 450px;
  padding-left: 25px;
  padding-top: 10px;
  border-radius: 10px;
  background: #99e2d0;
  color: #278870;
}

.footer {
  background: #353535;
  font-size: 30px;
  height: 400px;
  margin-top: -30px;
}
.footer a {
  color: white;
  display: block;
}
.footer__titre {
  color: white;
  font-family: "shrik";
  font-size: 40px;
  margin-left: 50px;
  padding-top: 30px;
}
.footer__lien {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 50px;
}
.footer__lien .margin {
  margin-left: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    font-size: 35px;
    height: 450px;
  }
}
/*loader*/
.loader {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disparition 0.3s ease-out 3s forwards;
}

@keyframes disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lettre {
  font-size: 110px;
  font-family: "shrik";
  animation: loader 1s ease-in-out 0.2s 3 forwards;
}

@keyframes loader {
  0% {
    color: #9356dc;
    text-shadow: 0 0 5px #9356dc;
  }
  50% {
    color: #ff79da;
    text-shadow: 0 0 5px #ff79da;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 5px #9356dc;
    opacity: 0;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

/*responsive*/
/*Medium*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .global_width {
    width: auto;
  }

  .localisation__ville {
    font-size: 55px;
  }
  .localisation__ville__icone {
    margin-top: 55px;
  }
  .localisation__bloc {
    font-size: 35px;
    height: 550px;
  }
  .localisation__bloc__int {
    width: 720px;
  }

  .btn-principaux {
    margin: 0 auto;
    height: 110px;
    width: 440px;
    border-radius: 60px;
  }
  .btn-principaux a {
    display: block;
    color: white;
    padding-top: 30px;
  }

  .fonctionnement {
    font-size: 35px;
    margin-top: 80px;
  }
  .fonctionnement__etape {
    width: 750px;
  }

  .restaurant {
    font-size: 35px;
    margin-top: 80px;
    height: 2850px;
  }
  .restaurant__bloc {
    width: 800px;
    height: 2550px;
  }
  .restaurant__bloc__img {
    height: 420px;
  }
  .restaurant__bloc figure {
    height: 580px;
  }

  .nouveau p {
    margin-left: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
