@import "variables/variables.scss";
@import "header/header.scss";
@import "mixin_accueil/mixin_accueil.scss";

@font-face {
  font-family: "rob";
  src: url("/police/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: "rob";
}

.global_width {
  width: $global-width;
}

a {
  text-decoration: none;
  color: black;
}

.gras {
  font-weight: bold;
}

.localisation {
  margin-top: 25px;
  &__ville {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(167, 167, 167), 2%, #eaeaea);
    font-size: $txt-size;
    &__icone {
      margin-top: $txt-size;
      margin-right: $txt-size;
    }
  }

  &__bloc {
    font-size: $h2-size;
    height: 480px;
    background-color: $background-color;
    text-align: center;
    &__int {
      width: 600px;
      height: 400px;
      margin: auto;
      padding-top: 20px;
    }
  }
}

.btn-principaux {
  @include btn_principaux;
  @include btn_principaux_color;
  @include btn_shadow;
  &:hover {
    @include btn_principaux_hover;
  }
  a {
    @include btn_pricipaux_lien;
  }
}

.fonctionnement {
  @include base_bloc;
  h2 {
    @include margin_h2;
  }
  &__etape {
    display: flex;
    align-items: center;
    background: $background-color;
    height: 150px;
    width: 650px;
    margin: 50px auto;
    border-radius: 45px;
    @include btn_shadow;
    &--color {
      background: lighten($color: $color-primary, $amount: 36%);
    }
    &__num {
      background: $color-primary;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-left: -25px;
      p {
        margin: 6px 16px;
        color: white;
      }
    }
    &__icone {
      color: grey;
      font-size: $icone-size;
      margin-left: 50px;
      &--size {
        font-size: $icone-size + 10px;
      }
      &--color {
        color: $color-primary;
      }
    }
    &__texte {
      margin: 0 50px;
    }
  }
}

.restaurant {
  @include base_bloc;
  background: $background-color;
  height: 2450px;
  h2 {
    @include margin_h2;
    padding-top: 80px;
  }
  &__bloc {
    position: relative;
    width: 650px;
    height: 2150px;
    padding-top: 50px;
    @include centrer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__img {
      height: 350px;
      overflow: hidden;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    figure {
      @include centrer;
      @include btn_shadow;
      width: 100%;
      height: 500px;
      background-color: white;
      border-radius: 30px;
      img {
        width: 100%;
        margin-top: -80px;
      }
      figcaption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: $icone-size + 10px;
          margin-right: 50px;
        }
        p {
          margin-left: 30px;
        }
      }
    }
  }
}

.heart1 {
  z-index: 1;
  position: relative;
  &:hover {
    & .heart2 {
      height: 100%;
    }
  }
}
.heart2 {
  @include remplissage_coeur;
}

.nouveau {
  position: absolute;
  p {
    @include nouveau;
  }
}

footer {
  background: $footer-color;
  font-size: $h2-size;
  height: 400px;
  img {
    filter: invert(100%);
    width: 200px;
    margin-top: 50px;
  }
  a {
    color: white;
    display: block;
  }
  .footer {
    @include margin_h2;
    &__lien2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100px;
      margin-top: -20px;
    }
    &__lien {
      display: flex;
      align-items: center;
      p {
        margin-left: 20px;
      }
      &--margintop {
        margin-top: -40px;
      }
      &--marginleft {
        margin-left: 12px;
      }
    }
  }
}
