@import "variables/variables.scss";
@import "header/header.scss";
@import "mixin_accueil/mixin_accueil.scss";

@font-face {
  font-family: "rob";
  src: url("../police/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "shrik";
  src: url("../police/Shrikhand-Regular.ttf") format("truetype");
}

body {
  font-family: "rob";
}

.global_width {
  width: $global-width;
  margin: auto;
  opacity: 0;
  animation: apparition 0.1s ease-in 3.3s forwards;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: black;
}

.gras {
  font-weight: bold;
}

.localisation {
  margin-top: 25px;
  &__ville {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(167, 167, 167), 2%, #eaeaea);
    font-size: $txt-size;
    &__icone {
      margin-top: $txt-size;
      margin-right: $txt-size;
    }
  }

  &__bloc {
    font-size: $h2-size;
    height: 480px;
    background-color: $background-color;
    text-align: center;
    &__int {
      width: 600px;
      height: 400px;
      margin: auto;
      padding-top: 20px;
    }
  }
}

.btn-principaux {
  @include btn_principaux;
  @include btn_principaux_color;
  @include btn_shadow;
  &:hover {
    @include btn_principaux_hover;
  }
  a {
    @include btn_pricipaux_lien;
  }
}

.fonctionnement {
  @include base_bloc;
  h2 {
    @include margin_h2;
  }
  &__etape {
    display: flex;
    align-items: center;
    background: $background-color;
    height: 150px;
    width: 650px;
    margin: 50px auto;
    border-radius: 45px;
    @include btn_shadow;
    &--color {
      background: lighten($color: $color-primary, $amount: 36%);
    }
    &__num {
      background: $color-primary;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-left: -25px;
      p {
        margin: 6px 16px;
        color: white;
      }
    }
    &__icone {
      color: grey;
      font-size: $icone-size;
      margin-left: 50px;
      &--size {
        font-size: $icone-size + 10px;
      }
      &--color {
        color: $color-primary;
      }
    }
    &__texte {
      margin: 0 50px;
    }
  }
}

.restaurant {
  @include base_bloc;
  background: $background-color;
  height: 2450px;
  h2 {
    @include margin_h2;
    padding-top: 80px;
  }
  &__bloc {
    position: relative;
    width: 650px;
    height: 2150px;
    padding-top: 50px;
    @include centrer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__img {
      height: 350px;
      overflow: hidden;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    figure {
      @include centrer;
      @include btn_shadow;
      width: 100%;
      height: 500px;
      background-color: white;
      border-radius: 30px;
      img {
        width: 100%;
        margin-top: -80px;
      }
      figcaption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: $icone-size + 10px;
          margin-right: 50px;
        }
        p {
          margin-left: 30px;
          span {
            display: block;
          }
        }
      }
    }
  }
}

.heart1 {
  z-index: 1;
  position: relative;
  &:hover {
    & .heart2 {
      height: 100%;
    }
  }
}
.heart2 {
  @include remplissage_coeur;
}

.nouveau {
  position: absolute;
  p {
    @include nouveau;
  }
}

@import "footer/footer.scss";

/*loader*/

.loader {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disparition 0.3s ease-out 3s forwards;
}

@keyframes disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.lettre {
  font-size: $h2-size + 80px;
  font-family: "shrik";
  animation: loader 1s ease-in-out 0.2s 3 forwards;
}

@keyframes loader {
  0% {
    color: $color-primary;
    text-shadow: 0 0 5px $color-primary;
  }
  50% {
    color: $color-secondary;
    text-shadow: 0 0 5px $color-secondary;
  }

  90% {
    color: black;
    text-shadow: none;
  }

  100% {
    color: $color-primary;
    text-shadow: 0 0 5px $color-primary;
    opacity: 0;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

/*responsive*/

/*Medium*/

@media all and (min-width: 768px) and (max-width: 1024px) {
  .global_width {
    width: 1024px;
  }

  .localisation {
    &__ville {
      font-size: $txt-size + 20px;
      &__icone {
        margin-top: $txt-size + 20px;
      }
    }
    &__bloc {
      font-size: $h2-size + 5px;
      height: 550px;
      &__int {
        width: 720px;
      }
    }
  }

  .btn-principaux {
    @include btn_principaux(110px, 440px);
    a {
      @include btn_pricipaux_lien($paddingtop: 30px);
    }
  }

  .fonctionnement {
    @include base_bloc($size: 35px);
    &__etape {
      width: 750px;
    }
  }

  .restaurant {
    @include base_bloc($size: 35px);
    height: 2850px;
    &__bloc {
      width: 800px;
      height: 2550px;
      &__img {
        height: 420px;
      }
      figure {
        height: 580px;
      }
    }
  }

  .nouveau {
    p {
      margin-left: 600px;
    }
  }
}

/*responsive*/

/*Large*/

@media all and (min-width: 1024px) {
  .global_width {
    width: 1824px;
  }

  .fonctionnement {
    h2 {
      text-align: center;
    }
    &__bloc {
      display: flex;
    }
    &__etape {
      width: 550px;
    }
  }

  .restaurant {
    height: auto;
    h2 {
      text-align: center;
    }
    &__bloc {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: 500px;
      &__img {
        height: 200px;
      }
      figure {
        height: 350px;
        img {
          margin-top: -50px;
        }
      }
    }
  }

  .nouveau {
    p {
      margin-left: 200px;
    }
  }

  .footer {
    width: auto;
  }
}
