@mixin btn_principaux($height: 90px, $width: 400px, $radius: 60px) {
  margin: 0 auto;
  height: $height;
  width: $width;
  border-radius: $radius;
}

@mixin btn_principaux_color($color: $color-secondary, $color2: $color-primary) {
  background: linear-gradient(to bottom right, $color, $color2);
}

@mixin btn_pricipaux_lien($color: white) {
  display: block;
  color: white;
  padding-top: 25px;
}

@mixin btn_shadow($shadow: darken($color: #f6f6f7, $amount: 10%)) {
  box-shadow: $shadow 0px 5px 8px 5px;
}

@mixin btn_principaux_hover(
  $color: lighten($color: $color-secondary, $amount: 5%),
  $color2: lighten($color: $color-primary, $amount: 5%),
  $shadow: darken($color: #f6f6f7, $amount: 20%)
) {
  background: linear-gradient(to bottom right, $color, $color2);
  box-shadow: $shadow 0px 5px 8px 5px;
}
