$global-width: 768px;

$txt-size: 35px;
$h2-size: 30px;
$h2-margin: 0 50px;

$icone-size: 40px !default;

$background-color: #f6f6f7;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-validation: #99e2d0;

$footer-color: #353535;
